$danger: #ff0000;
$success: #00ff00;
$black: #000;

body {
    color: white;
}

.btn:focus {
    box-shadow: none;
}

table td {
    vertical-align: middle;
}

.danger {
    color: $danger;
}

.success{
    color: $success;
}

.kara{
    color:black;
}